@use "@/styles/vars" as *;

.bottom {
	background-color: $c-sec;
	padding: 2ch;
	max-height: 10rem;

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 1ch;
	}

	&__textarea {
		background-color: $c-wht;
		color: $c-blc;
		flex-grow: 1;
		min-width: 0;
		resize: none;
		font-size: large;
		padding: 1ch;
		border: none;
		border-radius: 0.25rem;
		text-overflow: ellipsis;
		height: max-content;

		&:focus {
			outline: none;
		}
	}

	&__file-input {
		position: absolute;
		top: -1000px;
		left: -1000px;
		opacity: 0;
		z-index: -1;
	}

	&__button {
		height: 2rem;
		width: 2rem;
		flex-shrink: 0;
		color: $c-wht;
	}
}
