@use "../../styles/vars" as *;

.messages {
	// display: flex;
	// flex-direction: column;
	// justify-content: flex-end;
	position: relative;
	&__wrapper {
		position: absolute;
		// bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 100%;
		gap: 1ch;
		padding: 1rem;
	}
	overflow-y: scroll;
}

.text-message {
	padding: 1ch;
	border-radius: 1ch;
	box-shadow: 0 1ch 1ch #00000005;
	max-width: 50%;
	overflow-wrap: break-word;

	&--out {
		align-self: flex-end;
		background-color: $c-a;
		color: $c-w;
	}
	&--in {
		align-self: flex-start;
		background-color: $c-w;
	}
}
