@use "@/styles/vars" as *;

.top {
	background-color: $c-sec;
	color: $c-sec-txt;
	user-select: none;

	&__wrapper {
		height: 3rem;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		place-items: center;
		position: relative;
	}

	&__room {
		font-weight: 700;
		grid-column: 2/3;
	}

	&__button {
		grid-column: 1/2;
		justify-self: start;
		height: 2rem;
		aspect-ratio: 1;
		margin-left: 1ch;
		z-index: 100;
	}
}

.menu-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	z-index: 99;
}
