@use "@/styles/vars" as *;

.top {
	background-color: $c-sec;
	color: $c-sec-txt;
	position: relative;
	user-select: none;

	&__wrapper {
		height: 3rem;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		place-items: center;
		// padding: 1ch;
	}

	&__room {
		font-weight: 700;
		grid-column: 2/3;
	}

	&__button {
		grid-column: 1/2;
		justify-self: start;
		height: 2rem;
		aspect-ratio: 1;
		margin-left: 1ch;
	}
}
