@use "@/styles/vars" as *;

.top {
	background-color: $c-sec;
	color: $c-sec-txt;
	user-select: none;

	&__wrapper {
		height: 3rem;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		place-items: center;
		position: relative;
	}

	&__room {
		font-weight: 700;
		grid-column: 2/3;
		cursor: pointer;
	}

	&__button {
		grid-column: 1/2;
		justify-self: start;
		height: 2rem;
		aspect-ratio: 1;
		margin-left: 1ch;
		z-index: 100;
	}

	&__info {
		position: absolute;
		top: 100%;
		text-align: center;
		background-color: $c-tri;
		color: $c-tri-txt;
		font-size: x-large;
		font-weight: 300;
		padding: 1ch;
		margin: 1ch;
		border-radius: 0.5rem;
		animation: appear forwards 5s;
		box-shadow: $drop-shadow;

		@keyframes appear {
			from {
				opacity: 0;
			}

			10% {
				opacity: 1;
			}

			90% {
				opacity: 1;
			}

			to {
				opacity: 0;
			}
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			height: 1ch;
			width: 1ch;
			border-top: none;
			border: 1ch solid transparent;
			border-bottom: 1ch solid $c-tri;
		}
	}
}

.menu-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	z-index: 99;
}
