@use "./vars" as *;

.wrapper {
	max-width: 70rem;
	margin: 0 auto;
}

.button,
.icon {
	all: unset;
	border: none;
	cursor: pointer;
	fill: currentColor;
	display: grid;
	place-items: center;

	&__svg {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	&--spin {
		animation: spin forwards linear 0.25s;
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}
