$fs-xs: 0.5rem;
$fs-s: 1rem;
$fs-m: 1.5rem;
$fs-l: 2rem;
$fs-xl: 3rem;

$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

$c-l1: #f1e8e6;
$c-l2: #edd2cb;
$c-a: #f55951;
$c-d1: #361d32;
$c-d2: #543c52;
$c-w: #ffffffe0;
$c-b: #000000c0;
