$c-prm: var(--c-prm);
$c-prm-txt: var(--c-prm-txt);
$c-prm-trn: #f2542d50;

$c-neut: var(--c-neut);

$c-sec: var(--c-sec);
$c-sec-txt: var(--c-sec-txt);

$c-tri: var(--c-tri);
$c-tri-txt: var(--c-tri-txt);

$c-trn: var(--c-trn);
$c-backdrop: var(--c-backdrop);

$c-red: red;
$c-grn: green;

$drop-shadow: 0 0.5rem 0.5rem $c-trn;
