@use "@/styles/vars" as *;

.messages {
	position: relative;
	&__wrapper {
		position: absolute;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 100%;
		gap: 1ch;
		padding: 1rem;
	}
	overflow-y: scroll;
}

.text-message {
	&--out {
		align-self: flex-end;
	}
	&--in {
		align-self: flex-start;
	}

	&__sender {
		font-size: $fs-m;
	}

	&__content {
		padding: 1ch;
		border-radius: 1ch;
		box-shadow: 0 1ch 1ch #00000005;
		overflow-wrap: break-word;

		&--out {
			padding: 1ch;
			background-color: $c-a;
			color: $c-w;

			&.text-message__content--neu {
				border-top-right-radius: 0;
			}
		}

		&--in {
			background-color: $c-w;
			color: $c-b;

			&.text-message__content--neu {
				border-top-left-radius: 0;
			}
		}
	}
}

.file-message {
	border-radius: 1ch;
	box-shadow: 0 1ch 1ch #00000005;
	width: fit-content;
	display: flex;
	max-width: 100%;
	align-items: center;
	overflow: hidden;

	&--in {
		background-color: $c-w;
		color: $c-b;
		align-self: flex-start;
	}

	&--out {
		background-color: $c-a;
		color: $c-w;
		align-self: flex-end;
		flex-direction: row-reverse;
	}

	&--refused {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&__icon {
		flex-shrink: 0;
		height: 3rem;
		width: 3rem;
		object-fit: cover;
	}

	&__info {
		padding: 1ch;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__button-cont {
		// only appears on incoming requests
		align-self: stretch;
		border-radius: 1ch;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: $c-l2;
		display: flex;
		align-items: center;
		padding: 0 1ch;
		position: relative;
	}

	&__button {
		height: 2rem;
		width: 2rem;

		&--red {
			color: $c-r;
		}

		&--green {
			color: $c-g;
		}
	}

	&__loading {
		height: 100%;
		display: grid;
		place-items: center;
		font-size: medium;
		font-weight: 400;

		&::after {
			content: "";
			position: absolute;
			max-height: calc(100% - var(--percentage) * 1%);
			height: 100%;
			transition: max-height 0.1s;
			top: 0;
			left: 0;
			right: 0;
			background-color: white;
			opacity: 0.5;
		}
	}
}

.sender {
	align-self: flex-start;
	font-size: large;
	font-weight: 700;
	border-radius: 0.5rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
