@use "@/styles/vars" as *;

.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: $c-blc-t;

	display: grid;
	place-items: center;

	&__circle {
		height: 5rem;
		aspect-ratio: 1;
		color: $c-wht;
		border-radius: 50%;
		border: 0.5rem solid currentColor;
		border-bottom: 0.5rem solid transparent;

		animation: spin infinite linear 1s;
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}
