@use "./styles/vars" as *;
@use "./styles/components" as *;

@font-face {
	font-family: "Signika Negative";
	font-style: normal;
	// light normal medium semibold bold
	font-weight: 300 700;
	src: url(./assets/fonts/SignikaNegative-VariableFont_wght.ttf) format("woff2");
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: "Signika Negative";
}

#root {
	background-color: $c-neut;
	min-height: 100%;
	display: grid;
	place-items: center;
	grid-auto-columns: minmax(0, 1fr);
}

html,
body {
	height: 100%;
}
